.flex {
  display: flex;
}
.f-col {
  flex-direction: column;
}
.f-alignCenter {
  align-items: center;
}
.f-alignStart {
  align-items: start;
}
.f-alignEnd {
  align-items: end;
}
.f-jus {
  justify-content: space-between;
}
.f-jusC {
  justify-content: center;
}
.f-jusA {
  justify-content: space-around;
}
.gap {
  gap: 25px;
}
.f-wrap {
  flex-wrap: wrap;
}
