* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.relative {
  position: relative;
}
.icon {
  width: 3rem;
  height: 3rem;
  padding: 0.4rem;
  background-color: var(--op-20);
  border-radius: 2rem;
  margin-right: 1rem;
}
.bg-photo {
  background-image: url(/images/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* buttons */
.btn {
  width: 13.8rem;
  height: 5rem;
  padding: 20px 26px;
  border-radius: 20px;
  font-weight: 700;
  background-color: #c4c4c41a;
  border: none;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-bgSecondary {
  background-color: var(--secondary-color);
}
.btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.btn:active {
  opacity: 0.4;
}
.btn-borderS {
  border: 2px solid var(--secondary-color);
}

/* header  style*/
header {
  padding: 50px 0px;
}
.logo {
  position: relative;
}
.logo::before {
  content: "";
  position: absolute;
  bottom: -20px;
  border-radius: 20px;
  width: 60%;
  height: 7px;
  background-color: var(--secondary-color);
}
.active {
  position: relative;
}

header ul li a:hover {
  color: var(--secondary-color);
}
header img {
  width: 45px;
}
.s-1 .image {
  position: relative;
  margin: auto;
  width: 256px;
}
.s-1 .image > img {
  width: 100%;
}
.s-1 .image::after {
  content: "";
  background-image: url(../images/coronavirus.png);
  background-size: 4rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(40%, -150%);
  background-color: var(--white-color);
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
}
.s-1 .image::before {
  content: "";
  background-image: url(../images/doctor-taking-safety.png);
  background-size: 4rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-50%, -150%);
  background-color: var(--white-color);
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
}
.image-Doctors {
  position: relative;
  bottom: 4rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem 1.5rem;
  left: -2rem;
  border-radius: 2rem;
}
.image-Doctors img {
  width: 3.8rem;
}
.card {
  background-color: var(--op-20);
  font-weight: 700;
  border-radius: 2rem;
}
.btn.w-card {
  width: 15rem;
}
.w-card {
  width: 100%;
}
.p-c1 {
  padding: 3rem 2rem;
}
.my-2 {
  margin: 2rem 0;
}
@media screen and (max-width: 1023px) {
  header #nav {
    width: 100%;
  }
  header #nav li {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid var(--white-color);
  }
  .none {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  #menu {
    display: none;
  }

  .active::after {
    content: "";
    position: absolute;
    width: 10px;
    left: 40%;
    height: 10px;
    border-radius: 100%;
    background-color: var(--secondary-color);
    bottom: -20px;
  }
  .Page-split {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .f-basis {
    flex-basis: 55%;
  }
  .f-basis2 {
    flex-basis: 40%;
  }
}
/* media buttoms */
@media (min-width: 768px) {
  .btn {
    width: 17.8rem;
    height: 6.5rem;
  }
  .btn.w-card {
    width: 47%;
  }
}
@media (min-width: 1024px) {
  .btn {
    width: 20rem;
    height: 7rem;
  }
  .btn.w-card {
    width: 23%;
  }
}
@media (min-width: 1280px) {
  .btn {
    width: 23rem;
    height: 8rem;
  }
}
/* medai imags */
@media (min-width: 768px) {
  .w-card {
    width: 47%;
  }
  .s-1 .image {
    width: 53.5rem;
  }
  .s-1 .image::after {
    background-size: 10rem;
    width: 10rem;
    height: 10rem;
    transform: translate(40%, -100%);
    border-radius: 2rem;
  }
  .s-1 .image::before {
    background-size: 10rem;
    width: 10rem;
    height: 10rem;
    transform: translate(-50%, -100%);
    border-radius: 2rem;
  }
  .image-Doctors img {
    width: 6rem;
  }
}
@media (min-width: 1024px) {
  .w-card {
    width: 22%;
  }
}

.w-25 {
  width: 20%;
}
/* media Icons */
@media (min-width: 768px) {
  .icon {
    width: 5rem;
    height: 5rem;
  }
}
/* Section 3 */

.s-3 p:first-of-type {
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 2rem;
}
.s-3 p:last-of-type {
  width: 90%;

  text-align: center;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
input {
  width: 300px;
  background-color: var(--op-20);
  padding: 1.6rem 2.2rem;
  border-radius: 20px;
  color: wheat;
  border: none;
}
input:focus {
  color: var(--secondary-color);
  outline: none;
  border: 2px solid var(--secondary-color);
}
/* media input section 3 */
@media (min-width: 768px) {
  input {
    width: 500px;
  }
}
@media (min-width: 1024px) {
  input {
    width: 400px;
  }
}
/* s-4 */
.s-4 {
  padding-bottom: 5rem;
}
.s-4 .container > div:first-of-type > * {
  width: 50rem;
}
.s-4 .cards .card {
  height: 280px;
  border-radius: 2rem;
  border-start-end-radius: 8rem;
  width: 27.6rem;
}
.card-secound {
  border: 2px solid var(--grey-color);
  width: 188px;
  height: 20rem;
  border-radius: 2rem;
}
@media (min-width: 768px) {
  .s-4 .cards .card {
    width: 45.6rem;
    height: 49.8rem;
  }
  .card-secound {
    width: 30rem;
    height: 29rem;
  }
}
/* section 5 */
.s-5 {
  color: black;
  padding: 5rem 0;
}
.s-5 .container > div {
  position: relative;
  width: 28.6rem;
  height: 41rem;
  border-radius: 2rem;
}
.s-5 .container > div img {
  width: 100%;
  height: 36.5rem;
  border-radius: 2rem;
}
.s-5 .container > div h2 {
  position: absolute;
  width: 9rem;
  top: 3rem;
  left: 35%;
}
.s-5 .container > div:first-of-type::before {
  content: "";
  background-image: url(../images/coronavirus2.png);
  background-size: 7rem;
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: -2rem;
  left: -2rem;
  background-position: center;
  background-repeat: no-repeat;
}

.s-5 .container > div div {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  width: 18rem;
  background-color: #c4c4c440;
  color: white;
  height: 5rem;
  border-radius: 1rem;
}
.s-5 form > * {
  padding: 1rem 0;
}
.s-5 input {
  background-color: #0b153c26;
  color: black;
}
.s-5 input[type="number"] {
  position: relative;
  overflow: hidden;
  padding-left: 9rem;
}
.s-5 .relative::before {
  content: "";
  background-image: url(../images/flag.png);
  background-size: 5rem;
  width: 21%;
  height: 100%;
  position: absolute;
  top: 0rem;
  left: 1rem;
  background-position: left;
  background-repeat: no-repeat;
  border-right: 2px solid #949494;
}
/* section 5 */
@media (min-width: 768px) {
  .s-5 input {
    width: 400px;
  }
  .s-5 .container > div {
    width: 38rem;
    height: 55rem;
    border-radius: 2rem;
  }
  .s-5 .container > div:first-of-type::before {
    background-size: 9.8rem;
    width: 9.8rem;
    height: 9.8rem;
    position: absolute;
    top: -4rem;
    left: -4rem;
  }
  .s-5 .container > div h2 {
    position: absolute;
    width: 14rem;
    top: 6rem;
    left: 35%;
  }
  .s-5 .container > div img {
    height: 48rem;
  }
  .s-5 .container > div div {
    bottom: 12rem;
    left: 11rem;
  }
}
@media (min-width: 1200px) {
  .s-5 .container > div div {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    width: 18rem;
    background-color: #c4c4c440;
    color: white;
    height: 5rem;
    border-radius: 1rem;
  }
}
/* section 6 */
.s-6 {
  position: relative;
}
.s-6 .container .image {
  position: relative;
}
.s-6 .container .image img {
  width: 20rem;
}
.s-6 .info {
  position: relative;
  padding: 0.5rem 1.3rem;
  width: fit-content;
  width: 108px;
  padding-left: 2.3rem;
}

.s-6 .info::before {
  content: "";
  background-image: url(/images/coronavirus.png);
  background-size: 3rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -0.05rem;
  left: -1rem;
  background-repeat: no-repeat;
}
.s-6 .contant1 {
  position: absolute;
  top: 0;
  width: 126%;
  left: -2rem;
}
.s-6 .contant2 {
  position: absolute;
  top: 5rem;
  width: 144%;
  left: -4rem;
}
.s-6 .contant3 {
  position: absolute;
  top: 10rem;
  width: 171%;
  left: -7rem;
}

@media (min-width: 768px) {
  .s-6 .container .image img {
    width: 46rem;
  }
  .s-6 .info {
    width: 25.7rem;
  }
  .s-6 .contant1 {
    left: -4rem;
    top: 5rem;
  }
  .s-6 .contant2 {
    left: -8rem;
    top: 15rem;
  }
  .s-6 .contant3 {
    width: 157%;
    left: -12rem;
    top: 25rem;
  }
}
@media (min-width: 992px) {
  .s-6 .container .image img {
    width: 55rem;
  }
  .s-6 .info {
    width: 25.7rem;
  }
  .s-6 .contant1 {
    left: -4rem;
    top: 10rem;
  }
  .s-6 .contant2 {
    left: -8rem;
    top: 20rem;
  }
  .s-6 .contant3 {
    width: 157%;
    left: -12rem;
    top: 30rem;
  }
}
/* section 7 */

.s-7 .cards {
  width: 100%;
}
.s-7 .cards .card {
  background-color: #c4c4c480;
  padding: 3rem 2rem;

  height: 19rem;
}
.s-7 .cards .card p {
  color: #00000099;
  font-weight: 500;
}
.s-7 .cards .card img {
  width: 5rem;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .s-7 .cards .card {
    height: 25rem;
  }
}
@media (min-width: 1400px) {
  .g-cards {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
footer {
  padding-bottom: 3rem;
}
footer .box {
  width: 85%;
  margin: auto;
  position: relative;
  top: -8rem;
  margin: 8rem auto;
  border-radius: 2rem;
  padding: 4rem 2rem;
  box-shadow: 0px 0px 0px 17px var(--op-20);
}
footer .box input {
  background-color: white;
}
footer .relative {
  position: relative;
}
footer .box input {
  width: 25rem;
}
footer .icon-f {
  position: absolute;
  top: 0;
  right: -9px;
  background: var(--primary-color);
  height: 100%;
  width: 23%;
  padding: 1.2rem;
  border-start-end-radius: 2rem;
  border-end-end-radius: 2rem;
}
footer > .container {
  margin-top: -12rem;
}
@media (min-width: 768px) {
  footer .box input {
    width: 45rem;
  }
  footer > .container {
    margin-top: -8rem;
  }
}
@media (min-width: 992px) {
  footer .box input {
    width: 55rem;
  }
}
