* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.bg-primary {
  background-color: var(--primary-color);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.icon {
  width: 3rem;
  height: 3rem;
  padding: 0.4rem;
  background-color: var(--op-20);
  border-radius: 2rem;
  margin-right: 1rem;
}

/* buttons */
.btn {
  width: 13.8rem;
  height: 5rem;
  padding: 20px 26px;
  border-radius: 20px;
  font-weight: 700;
  background-color: #c4c4c41a;
  border: none;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-bgSecondary {
  background-color: var(--secondary-color);
}
.btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.btn:active {
  opacity: 0.4;
}
.btn-borderS {
  border: 2px solid var(--secondary-color);
}

/* header  style*/
header {
  padding: 50px 0px;
}
.logo {
  position: relative;
}
.logo::before {
  content: "";
  position: absolute;
  bottom: -20px;
  border-radius: 20px;
  width: 60%;
  height: 7px;
  background-color: var(--secondary-color);
}
.active {
  position: relative;
}

header ul li a:hover {
  color: var(--secondary-color);
}
header img {
  width: 45px;
}
section .image {
  position: relative;
  margin: auto;
  width: 256px;
}
section .image > img {
  width: 100%;
}
section .image::after {
  content: "";
  background-image: url(../images/coronavirus.png);
  background-size: 4rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(40%, -150%);
  background-color: var(--white-color);
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
}
section .image::before {
  content: "";
  background-image: url(../images/doctor-taking-safety.png);
  background-size: 4rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-50%, -150%);
  background-color: var(--white-color);
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
}
.image-Doctors {
  position: relative;
  bottom: 4rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem 1.5rem;
  left: -2rem;
  border-radius: 2rem;
}
.image-Doctors img {
  width: 3.8rem;
}
.card {
  background-color: var(--op-20);
  font-weight: 700;
  border-radius: 2rem;
}
.btn.w-card {
  width: 15rem;
}
.w-card {
  width: 100%;
}
.p-c1 {
  padding: 2rem 1rem;
}
.my-2 {
  margin: 2rem auto;
}
@media screen and (max-width: 1023px) {
  header #nav {
    width: 100%;
  }
  header #nav li {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid var(--white-color);
  }
  .none {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  #menu {
    display: none;
  }
  .bg-photo {
    background-image: url(/images/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .active::after {
    content: "";
    position: absolute;
    width: 10px;
    left: 40%;
    height: 10px;
    border-radius: 100%;
    background-color: var(--secondary-color);
    bottom: -20px;
  }
}
/* media buttoms */
@media (min-width: 768px) {
  .btn {
    width: 17.8rem;
    height: 6.5rem;
  }
  .btn.w-card {
    width: 47%;
  }
}
@media (min-width: 1024px) {
  .btn {
    width: 20rem;
    height: 7rem;
  }
  .btn.w-card {
    width: 23%;
  }
}
@media (min-width: 1280px) {
  .btn {
    width: 23rem;
    height: 8rem;
  }
}
/* medai imags */
@media (min-width: 768px) {
  .w-card {
    width: 47%;
  }
  section .image {
    width: 53.5rem;
  }
  section .image::after {
    background-size: 10rem;
    width: 10rem;
    height: 10rem;
    transform: translate(40%, -100%);
    border-radius: 2rem;
  }
  section .image::before {
    background-size: 10rem;
    width: 10rem;
    height: 10rem;
    transform: translate(-50%, -100%);
    border-radius: 2rem;
  }
  .image-Doctors img {
    width: 6rem;
  }
}
@media (min-width: 1024px) {
  .w-card {
    width: 22%;
  }
}

.w-25 {
  width: 20%;
}
/* media Icons */
@media (min-width: 768px) {
  .icon {
    width: 5rem;
    height: 5rem;
  }
}
