<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>buttoms</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <button class="btn none col-secondary">Check Status</button>
  <button class="btn col-white btn-bgSecondary">Get Vaccine</button>
  <button class="btn col-white btn-borderS">Help Centre</button>
  <button class="w-card btn col-white btn-bgSecondary">Submit</button>
</body>
</html>
