<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cards</title>
</head>
<body>
  <div class="card f-w p-c1 flex f-wrap f-alignCenter">
    <div class="flex my-2 w-card">
      <svg class="icon">
        <use xlink:href="../icons/SVGSprite.svg#location"></use>
      </svg>
      <div>
        <h3 class="col-grey">Location</h3>
        <p>Ikeja Lagos, Nigeria</p>
      </div>
    </div>
    <div class="flex my-2 w-card">
      <img
        src="/icons/calendar.svg"
        alt=""
        srcset=""
        class="icon"
      />

      <div>
        <h3 class="col-grey">Date</h3>
        <p>29 February, 2022</p>
      </div>
    </div>
    <div class="flex my-2 w-card mr-3">
      <svg class="icon">
        <use xlink:href="../icons/SVGSprite.svg#location"></use>
      </svg>
      <div>
        <h3 class="col-grey">Vaccine Type</h3>
        <p>Mordena</p>
      </div>
    </div>
    <button class="w-card btn col-white btn-bgSecondary">
      Submit
    </button>
  </div>
</body>
</html>