<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Icons</title>
  </head>
  <body style="background-color: black">
    <svg class="icon">
      <use xlink:href="../icons/SVGSprite.svg#persons"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="../icons/SVGSprite.svg#send"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="../icons/SVGSprite.svg#shield"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="../icons/SVGSprite.svg#Thermometer"></use>
    </svg>
    <svg class="icon">
      <use xlink:href=../icons/SVGSprite.svg#calendar"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="../icons/SVGSprite.svg#chevron-down"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="../icons/SVGSprite.svg#click"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="../icons/SVGSprite.svg#location"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="../icons/SVGSprite.svg#logo-Facebook"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="../icons/SVGSprite.svg#logo-Instagram"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="../icons/SVGSprite.svg#logo-Twitter"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="../icons/SVGSprite.svg#logo-youtube"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="../icons/c.svg#cc"></use>
    </svg>
    <img src="../icons/menu.svg" alt="">
  </body>
</html>
